body{
  background-color: #d2c7ee;
}
.App{
  background-color: #300242b0;
  min-height:500px;
  width: 1000px;
  margin: 40px auto;
}

.App button {
  font-size: large;
  font-weight: 700;
}

#to-do-form input{
  background-color: rgb(241, 215, 237);
  border: 0; 
  color: #000;
  width: 500px;
  height: 50px;
  margin: 20px;
  padding: 0 20px;
  font-size: 18px;
  border-radius: 10px;
}
#to-do-form input::placeholder{
  color: rgba(49, 48, 48, 0.5);
}
#to-do-form input:focus{
  outline: none;
}
#to-do-form button{
  height: 50px;
  width: 80px;
  border-radius: 5px;
  border: 0;
  background-color:rgba(131, 199, 238, 0.897); 
  cursor: pointer;
}
#to-do-form button:focus{
  outline: none;
}